.text{
	color: var(--light-danger);
	font-family: var(--UI-font);
	font-size: var(--font-size-small);
	letter-spacing: .1em;
	margin: 0 auto var(--spacing-xxs);
	padding: 0;
}

.validation_full_width{
	width: 100%;
}