.top-header-container{
	background-color: var(--white);
	height: 85px;
	margin-top: var(--spacing-n);
	border-radius: var(--spacing-xs);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.profiler-container{
	height: 100%;
	display: flex;
	align-items: center;
	gap: var(--spacing-n);
	padding: var(--spacing-s);
	justify-content: end;
}

.profiler-details{
	text-align: right;
}

.profiler-name{
	font-weight: 700;
	font-family: var(--Alt-Body-font);
	color: var(--text-75);
}

.profiler-email{
	font-size: var(--font-size-small);
	color: var(--text-75);
}

.profiler-image{
	height: 100%;
	width: auto;
	border-radius: 50%;
	border: 4px solid var(--white);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}