.register-container {
	display: flex;
	height: 100vh;
	justify-content: space-around;
	align-items: center;
	background-color: var(--background);
	gap: var(--spacing-l);
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 var(--spacing-l);
}

.site-image{
	width: 100%;
	transform: scale(0.9);
}

.form-container{
	padding: var(--spacing-xxl) 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 400px;
}

.business-name{
	color: var(--primary);
}

.logo-container{
	width: 100px;
	margin:20px 0 40px;
}
.logo{
	width: 100%;
}

.register-form{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.page-identity{
	text-align: left;
	font-weight: 400;
	margin-bottom: 16px;
}

.input-group{
	margin-bottom: var(--spacing-n);
}

.input-group:has(.short-input-group){
	display: flex;
	gap: var(--spacing-n);
}

.input-group:last-of-type{
	margin-bottom: 4px;
}

.forgot-password{
	font-family: var(--UI-font);
	font-size: var(--font-size-small);
	text-align: end;
	color: var(--text);
}

.reCAPTCHA > iframe{
	width: 100%;
}

.input-button:first-of-type{
	margin-top: 32px;
}

.input-button{
	margin-bottom: 16px;
}

.input-button:last-of-type{
	margin-bottom: 0;
}

.login-link{
	text-align: center;
	color: var(--text);
	font-family: var(--UI-font);
	text-decoration: none;
	margin-top: 32px;
}

.login-link > span {
	color: var(--primary);
	text-decoration: underline;
	font-weight: 700;
}

