.user-spotlight-container{
	padding: var(--spacing-n);
	background-color: var(--card-background) ;/* Very light sky blue */
	display:flex;
	justify-content: space-between;
	gap: 1rem;
	flex-wrap: wrap;
	border-radius: var(--spacing-xs);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.spotlight-image-container{
	height: fit-content;
}

.spotlight-image{
	width: 150px;
	width: 150px;
	object-fit: cover;
}

.spotlight-text-container{
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
}

.spotlight-name{
	font-size: var(--font-size-h6);
	font-weight: 500;
}

.spotlight-role{
	font-weight: 600;
	font-family: var(--Alt-Body-font);
	font-size:var(--font-size-small);
}
.spotlight-location{
	font-family: var(--Alt-Body-font);
	font-size:var(--font-size-small);
}