.reset-container {
	display: flex;
	height: 100vh;
	justify-content: space-around;
	align-items: center;
	background-color: var(--background);
	gap: var(--spacing-l);
	max-width: 1200px;
	margin: 0 auto 0;
	padding: 0 var(--spacing-l);
}

.site-image {
	width: 100%;
	transform: scale(0.9);
}

@media (min-width: 768px) {
	.reset-image {
		display: block;
		flex: 1;
	}

	.site-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.form-container {
	padding: var(--spacing-xxl) 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.business-name {
	color: var(--primary);
}

.logo-container{
	width: 100px;
	margin:20px 0 40px;
}

.logo{
	width: 100%;
}

.reset-form {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.page-identity{
	text-align: left;
	font-weight: 400;
	margin-bottom: 16px;
}

.input-group{
	margin-bottom: 16px;
}

.back-to-login{
	font-family: var(--UI-font);
	font-size: var(--font-size-small);
	align-self: flex-end;
	color: var(--text);
}

.input-button:first-of-type{
	margin-top: 32px;
}

.input-button{
	margin-bottom: 16px;
}

.input-group:last-of-type{
	margin-bottom: 4px;
}

/* Add responsiveness for smaller screens */
@media (max-width: 767px) {
	.form-container {
		max-width: 100%;
		margin: 1rem;
	}

	.business-name {
		font-size: 1.5rem;
	}
}

@media (max-width: 480px) {
	.form-container {
		padding: 1rem;
	}

	.input-button button {
		font-size: 0.875rem;
		padding: 0.5rem 1rem;
	}
}