.profile-container{
	min-height:300px;
	border: 1px solid var(--text-50);
	margin-top: var(--spacing-n);
}

.page-identity{
	font-weight: 500;
	font-size: var(--font-size-h5);
}

.user-spotlight{
	padding: var(--spacing-n);
	background-color: var(--card-background) /* Very light sky blue */
	;
	display:flex;
	justify-content: space-between;
}

