.forgot-password-container {
	display: flex;
	height: 100vh;
	justify-content: space-around;
	align-items: center;
	background-color: var(--background);
	gap: var(--spacing-l);
	max-width: 1200px;
	margin: 0 auto 0;
	padding: 0 var(--spacing-l);
}

.site-image{
	width: 100%;
}

.form-container {
	padding: var(--spacing-xxl) 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.business-name{
	color: var(--primary);
}

.logo-container{
	width: 100px;
	margin-bottom: 60px;
}

.logo{
	width: 100%;
}

.forgot-password-form{
	width: 100%;
}

.page-identity{
	text-align: left;
	font-weight: 400;
}

.page-instructions{
	max-width: 383.062px;
	margin-bottom: 16px;
}

.input-group{
	margin-bottom: 4px;
}

.back-to-login{
	font-family: var(--UI-font);
	font-size: var(--font-size-small);
	text-align: end;
	color: var(--text);
}

.input-button:first-of-type{
	margin-top: 32px;
}

.input-button{
	margin-bottom: 16px;
}