/* General layout */
.container {
	display: flex;
	height: 100vh;
  }
  
  /* Sidebar */
  .sidebar {
	width: 250px;
	background-color: #032733;
	color: #fff;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .logo-container {
	margin-bottom: 40px;
  }
  
  .menu {
	list-style: none;
	padding: 0;
  }
  
  .menu-item {
	padding: 15px 0;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
	display:flex;
	align-items: center;
	gap: 1rem;
  }
  
  .menu-item:hover {
	background-color: #00414d;
  }
  
  .active {
	background-color: #006070;
  }
  
  /* Content area */
  .content {
	flex-grow: 1;
	padding: 40px;
	background-color: #eaeaea;
  }
  
  h1 {
	color: #032733;
  }
  .card-container {
	display: flex;
  }
  
  .sidebar {
	width: 200px;
  }
  
  .card-content {
	flex-grow: 1;
	padding: 20px;
  }
  
  .card-management {
	margin-top: 20px;
  }
  
  .card-list {
	list-style: none;
	padding: 0;
  }
  
  .card-item {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
  }
  
  button {
	margin-right: 10px;
	padding: 10px;
  }
  
  .delete-button {
	background-color: red;
	color: white;
  }
  